.signin-container {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  color: white;
  width: 90vw; /* Scales with screen size */
  max-width: 1400px; /* Limit width for big screens */
  padding: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.option {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option h3 {
  margin-bottom: 20px;
  font-size: 2rem; /* Scalable font size */
}

.option li {
  margin: 13px;
}

.qr-code {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.qr-code img {
  width: 300px;
  height: 300px; /* Bigger for large screens */
}

.activation-code {
  font-size: 3rem; /* Larger for readability */
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.regenerate-btn {
  background-color: #666;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container {
  margin-top: 40px;
}

.btn-container button {
  background-color: #f5c518;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  color: black;
  font-size: 1.2rem;
}

.btn-container button:last-child {
  background-color: #e6e6e6;
}